.width_div{

 display: flex;
 justify-content: center;
 align-content: center;
}

.form-w{
	width: 50%
}

.title{
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

#main-div div{
	display: grid;
	grid-template-columns: 50% 50%;
	border: 2px solid;
	padding: 1rem;
}

#boletaNumber{
	display: flex;
    
    justify-content: center;
    align-content: center;
}

.boletaNumber{
	display: flex;
    
    justify-content: center;
    align-content: center;

}
.boleta-grid{
	display: grid;
	grid-template-columns: 70% 30%;
	border: 10px solid #02667A;

}

.manejar_boleta{
	display: flex;
    
    justify-content: center;
    align-content: center;

}

.manejar_boleta button{
	margin: 1rem;
	padding: 1.5rem;
}

.olla-grid{
	display: grid;
	grid-template-columns: 30% 70%;

}

.olla{
	width: 100%;
}
.olla-text{
	display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.boleta-derecha{
	border-left: solid 8px #02667A;
	    display: flex;
    align-items: center;
    flex-direction: column;
}

.olla-title{
	text-align: center;
    border-bottom: 3px solid #02667A;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    background: #02667A;
    color: white;
}

.cardWidthSet{


}


.informacion-boleta p{
	text-align: center;
	font-size: 130%;
}

.cardStyle{
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 1rem;
	flex-direction: row-reverse;

}

.cardStyle button{
	margin-left: 1rem;
}

.boleta-grid  h3{
	font-weight: 300;
}

.olla-type{
	font-weight: 600 !important;
}


#main-div{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#main-div-d{
	display: flex;
	flex-direction: column;
	justify-content: center;
}


@media only screen and (max-width: 900px) {

  .boleta-grid{
  	display: flex;
  	flex-direction: column;}
  	.boleta-derecha{
	border-top: solid 3px #02667A;
	    display: flex;
    align-items: center;
    flex-direction: column;
}

  
}
